@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff4d;
    background-image: url(../imagem/back_cadastro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; /* Evita barras de rolagem desnecessárias */
    padding: 0; /* Remove o espaçamento extra */
}

/* Container principal */
.container {
    width: 70vw;  /* Define um tamanho fixo relativo à tela */
    max-width: 1300px;; /* Ainda mantém um limite */
    min-width: 800px; /* Evita que fique muito pequeno */
    height: auto; /* Ajusta conforme o conteúdo */
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #fff;
}

/* Ajuste para a parte da imagem, outro "container" ao lado*/
.form-image {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    border-radius: 10px 0 0 10px;
    overflow: hidden; /* Garante que nada saia da div */
}

.form-image img {
    width: 100%; /* Faz a imagem ocupar toda a largura da div */
    height: 100%; /* Faz a imagem ocupar toda a altura da div */
    object-fit: cover; /* Ajusta a imagem para cobrir toda a div sem distorção */
}

/* Formulário */
.form {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 0 10px 10px 0;
}

.title {
    letter-spacing: -1px;
    color: #444;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.login-button button {
    border: none;
    background-color: #ac2727;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #e95050;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
}

.input-box label {
    font-weight: 500;
}

.input-box input, .input-box select {
    margin-top: 5px;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(197, 197, 197, 0.5);
    width: 100%;
}

.input-box input:hover,
.input-box select:hover {
    background-color: #f0f0f075;
}

.input-box input:focus-visible,
.input-box select:focus-visible {
    outline: 1px solid #ac2727;
}

/* Botões */
.button {
    display: flex;
    gap: 10px; /* Adiciona espaçamento entre os botões */
    margin-top: 1.5rem;
    width: 100%; /* Garante que os botões ocupem toda a largura */
}

.button input {
    flex: 1; /* Faz com que os botões tenham tamanhos iguais */
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    min-width: 120px; /* Define um tamanho mínimo */
    text-align: center;
}

.button input[type="button"] {
    background-color: #4d4d4d;
}

.button input[type="submit"] {
    background-color: #ac2727;
}

.button input:hover {
    opacity: 0.8;
}


/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .form-image {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .form {
        border-radius: 0 0 10px 10px;
        width: 100%;
        padding: 2rem;
    }

    .input-box {
        width: 100%;
}