@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #ffffff4d;
    padding-top: 5%;
    background-image: url(../imagem/back_cadastro.png);
    background-position: center; /* Centraliza o background */
    background-repeat: no-repeat;
    background-size: cover;
}


/* Aonde fica tudo, a imagem e o formulário ao lado */
.container{
    width: 65%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 10px;
}


/* "DIV" da imagem */
.form-image{
    min-width: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    border-radius: 10px;
}

.form-image img{
    width: 200%; /* Faz a imagem ocupar corretamente o espaço */
    max-width: 500px;
}

/* Formulário ao lado da imagem */
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 12px;
}

.title{
    letter-spacing: -1px;
    color: #444444;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #ff6363;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #f88080;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff6363;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 48%;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #c5c5c5;
}

.input-box input:hover{
    background-color: #f0f0f075;
}

.input-box input:focus-visible{
    outline: 1px solid #ff6363;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #ff6363;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button:hover{
    background-color: #ff6363;
}

.continue-button:hover a{ 
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}