body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

/* Cabeçalho */
h2 {
    text-align: center;
    color: #3b3b3b;
    font-size: 26px;
    font-weight: 620;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

/* Estilização da Tabela */
table {
    width: 95%;
    border-collapse: collapse;
    background: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    margin: 0 auto; /* <-- Centraliza horizontalmente */
    border-collapse: separate;
    border-spacing: 7px; /* Define o espaço entre colunas e linhas */
    border-radius: 7px;
}

/* Cabeçalho da Tabela */
thead {
    background-color: #ac2727;
    color: white;
}

thead th {
    padding: 14px;
    font-size: 16px;
    letter-spacing: -1px;
    text-align: center;
    align-items: center;
    border-radius: 7px;
}

/* Corpo da Tabela */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ffe0e0;
    transition: 0.3s;
}

td {
    padding: 12px;
    text-align: center;
    color: #333;
    font-size: 14px;
    border-radius: 7px;
}

/* Links e Botões */
.btn-download {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #ffae00;  /* ← borda azul de 2px */
    padding: 6px 12px;          /* espaço interno pra parecer um botão */
    border-radius: 4px;         /* cantos levemente arredondados */
    text-decoration: none;
}

.btn-download:hover {
    color: rgb(5, 133, 22);
    border-color: rgb(5, 133, 22); /* muda a cor da borda no hover */
}

/* Botão Voltar */
.btn-back {
    display: block;
    width: 120px;
    margin: 20px auto;
    padding: 12px;
    background-color: #ac2727;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-back:hover{
    background-color: #d34d4d;
}


/* Mensagem quando não há anexo */
.sem-anexo {
    color: #777;
    font-style: italic;
}

/* Responsividade */
@media (max-width: 768px) {
    table {
        font-size: 12px;
    }

    thead th, td {
        padding: 10px;
    }

    .btn-back {
        width: 100px;
        padding: 10px;
    }
}