
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

nav {
    width: 100%;
    background-color: #50BFA4;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.main-form {
    width: 350px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 60px; /* Espaço para o menu fixo */
}

.logo {
    background-color: #50BFA4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 20px;
    position: relative;
}

.logo::before {
    content: "🔍"; /* Utilize um ícone de busca como exemplo */
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e7e4df;
    color: #838383;
}

.remember-me {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #838383;
    margin-bottom: 20px;
}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #50BFA4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #58CCB0;
}

.forgot-password {
    display: block;
    margin: 15px 0;
    font-size: 14px;
    color: #C4BCB0;
    text-decoration: none;
}

.signup-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #838383;
}

.signup-section .sign-up {
    font-weight: bold;
    border: 1px solid #3DA087;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 10px;
    color: #3DA087;
    text-decoration: none;
    transition: all 0.3s ease;
}

.signup-section .sign-up:hover {
    background-color: #3DA087;
    color: #fff;
}
